.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer1{
  display: flex;
  align-items: end;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.button1{
  background-color: white;
  color: black;
}
.button1:hover{
  background-color: rgb(228, 224, 224);
}
.sym1{
  background-color: #dad9d9;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 15px;
}
.tex1{
  font-size: 30px;
  text-align: center;
}
.dog1{
  border-radius: 50%;
  height: 90px;  
  display: flex;
  justify-self: center;
}
